<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

<h1>Hotels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.location %></td>
        <td><%= link_to "Show", hotel %></td>
        <td><%= link_to "Edit", edit_hotel_path(hotel) %></td>
       
      </tr>
    <% end %>
   
  </tbody>
</table>

<br>

# <%= link_to "New hotel", new_hotel_path %>
<%= link_to "New hotel", new_hotel_path if can? :create, @hotels %>